/* Changing font for whole website */
* {
	font-family: 'Source Sans Pro', sans-serif;
  }

/* Navbar settings */
.erg-brand-logo {
	max-height: 88px;
	padding-left: 2em;
}
.navbar-brand {
	padding-left: 2em;
}
.navbar {
	width: 100%;
	/* height: 98px; */
	text-align: left;
	font-size: 20px;
	font-weight: bold;
	/* margin-bottom: 20px; */
}
/* change the color of active or hovered links */
.navbar .nav-item.active .nav-link,
.navbar .nav-item:hover .nav-link {
    color: orange;
    /* background-color: #ee4400; */ /* add background-color to active links */
}
.responsive {
	width: 100%;
	/* max-width: 400px; */
	height: auto;
  }
.erg_stores_container-fluid {
    padding-top: 2em;
}
/* Settings for welcome text header */
.welcome-title {
	text-align: center;
	font-weight: bold;
	padding-top: 1em;
	color: #222;
}
/* Settings for text above ERG images */
.welcome-text {
	text-align: center;
	width: 60%;
	color: #222;
	margin: auto;
	padding-top: 2em;
}
/* Settings for homepage top row */
.ERG-Store-Images-Small {
	position:absolute;
	top: 0; bottom: 0; left: 0; right: 0;
	margin: auto;
	max-width: 95%;
	min-width: 80%;
	min-height: auto; /*requires explicit height*/
	max-height: auto;
}
/* Settings for homepage bottom row */
.ERG-Store-Images-Large {
	position:absolute;
	top: 0; bottom: 0; left: 0; right: 0;
	margin: auto;
	max-width: 90%;
	min-width: 30%;
	min-height: 50%; /*requires explicit height*/
	max-height: 280px;
}
.card-body-sm {
	min-height: 125px;
	max-width: 500px;
}
.card-body-lg {
	min-height: 295px;
	max-width: 500px;
}
.card-body-sm:hover {
    background-color: rgba(0, 0, 0, 0.1);
}
.card-body-lg:hover {
    background-color: rgba(0, 0, 0, 0.1);
}
.col-sm-2 {
	padding: 1em;
}

/* Footer Settings */
.footer ul.social-iconsfooter li {
	display:inline-block;
	float:none;
	position:relative;
	background:transparent;
	margin-right:5px;
	border:1px solid #333;
}
.footer ul.social-iconsfooter li a {
	color:#fff;
	width:60px;
	height:60px;
	line-height:60px;
	display:inline-block;
}
.footer {
	background:#222;
	color:#999;
	font-size:14px;
	padding:20px 0 20px 0;
	margin-top:0px;
}
.footernote {
	text-align: center;
	font-weight: bold;
	font-size: 20px;
	padding-top: 1em;
	color: white;
}
.powered_by_wtbi {
	width: 380px;
	height: 78px;
	position: absolute;
	right: 4em;
	bottom: -190px;
}
/* <!-- WOC Store Settings =============================--> */

.card-body-store {
	position: relative;
	min-height: 295px;
	max-width: 500px;
	background-color: white;
}
/* .WOC-Store-Images {
	min-width: 400px;
	min-height: 414px;
	max-width: 436px;
	max-height: 400px;
} */

.WOC-Store-Images {
	position:relative;
	top: 0; bottom: 0; left: 0; right: 0;
	margin: auto;
	max-width: 300px;
	min-width: 300px;
	min-height: 300px; /*requires explicit height*/
	max-height: 300px;
}
/* .card-body-store:hover {
	opacity: 0.3;
} */
.card-title {
	text-align: center;
	font-size: 24px;
	font-weight: bold;
	padding: 0;
	color: #222;
	margin-bottom: 1em;
}
.card-body {
	padding-top: 0;
}
.btn:hover {
	background-color: #444
}
.cart ion-icon {
	vertical-align: bottom;
	font-size: 20px;
	padding-bottom: 4px;
	padding-right: 6px;
}
.cart a {
	cursor: pointer;
}